@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";

@layer utilities {
    .font-bebas {
      font-family: 'Bebas Neue', cursive !important;
    }
    .font-oswald {
      font-family: 'Oswald', sans-serif !important;
    }
    .font-cabin {
      font-family: 'Cabin', sans-serif !important;
    }
    .font-open {
      font-family: 'Open Sans', sans-serif !important;
    }
  }

  body {
    font-family: 'Oswald', sans-serif !important;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }

  }

  .animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }






